form.contact__form(action="POST")#contact__form
	.contact__form-row
		.contact__form-block.contact__form-block--name
			label.contact__form-label(for="form-name") Введите ваше имя
			input.contact__form-input(type="text" name="name" id="form-name" placeholder="Иван Иванов" required)
			.contact__form-error#error-name
			
		.contact__form-block.contact__form-block--email
			label.contact__form-label(for="form-email") Введите ваш email
			input.contact__form-input(type="email" name="email" id="form-email" placeholder="example@mail.com" required)
			.contact__form-error#error-field
			
	.contact__form-row
		.contact__form-block.contact__form-block--message
			label.contact__form-label(for="form-message") Сообщение к письму
			textarea.contact__form-input.contact__form-input--textarea(name="comment" id="form-message" placeholder="Требуется ваша помощь в создании сайта. Интересуют сроки и цена вопроса. Требуется ваша помощь в создании сайта. Интересуют сроки и цена вопроса. Требуется ваша помощь в создании сайта. Интересуют сроки и цена вопроса")
			
	.contact__form-row.contact__form-row--button
		button.btn.form-btn#form-btn(type="submit" name="submit-btn") Отправить