form.contact__form(action="POST")
	.contact__form-row
		.contact__form-block.contact__form-block--name
			input.contact__form-input(type="text" name="name" id="form-name" placeholder="Иван Иванов")
			label.contact__form-label(for="form-name") Введите ваше имя
		.contact__form-block.contact__form-block--email
			input.contact__form-input(type="email" name="email" id="form-email" placeholder="example@mail.com")
			label.contact__form-label(for="form-email") Введите ваш email
	.contact__form-row
		.contact__form-block.contact__form-block--message
			textarea.contact__form-input.contact__form-input--textarea(name="comment" id="form-message" placeholder="Требуется ваша помощь в создании сайта. Интересуют сроки и цена вопроса. Требуется ваша помощь в создании сайта. Интересуют сроки и цена вопроса. Требуется ваша помощь в создании сайта. Интересуют сроки и цена вопроса")
			label.contact__form-label(for="form-message") Сообщение к письму
	.contact__form-row.contact__form-row--button
		button.btn.form-btn(type="submit" name="submit-btn") Отправить