header.header.hero__header
	.header__logo 
		.logo ВФ
	.header__menu
		nav.nav.header__nav 
			include ../blocks/nav.pug
	.header__links 
		include ../blocks/socials.pug
	.header__hamburger
		a.hamburger__menu(href="#")
			+icon("hamburger", "hamburger__icon")