- var icons = ['telegram', 'linkedin', 'github']
	ul.socials
		each item, index in icons, links
			- var links = ['https://t.me/onexsan', 'https://www.linkedin.com/in/onexsan/', 'https://github.com/onexsan']
				li.socials__item
					a(href=links[index] target="_blank").socials__link
						+icon(`${item}`, 'socials__icon')