- var icons = ['insta', 'vk', 'github']
	ul.socials
		each item, index in icons, links
			- var links = ['https://www.instagram.com/onexsan/', 'https://vk.com/tomodachisan', 'https://github.com/onexsan']
				li.socials__item
					a(href=links[index] target="_blank").socials__link
						+icon(`${item}`, 'socials__icon')