.scroll-down__link {
	display: flex;
	align-items: center;
	&:hover {
		.scroll-down__icon, .scroll-down__text {
			opacity: 1;
		}
	}
}

.scroll-down__text {
	color: white;
	opacity: .7;
}

.scroll-down__icon {
	width: 25px;
	height: 25px;
	fill: white;
	opacity: .7;
}

.form-btn {
	background-color: $main;
	padding: 17px 65px;
	border: 1px solid transparent;
	color: white;
	font-size: 16px;
  	font-weight: bold;
	text-transform: uppercase;

	&:hover {
		background-color: orange;
	}
}