.scroll-down__link {
	display: flex;

	&:hover {
		.scroll-down__icon, .scroll-down__text {
			opacity: 1;
		}
	}
}

.scroll-down__text {
	color: white;
	opacity: .7;
}

.scroll-down__icon {
	width: 25px;
	height: 25px;
	fill: white;
	opacity: .7;
}