.projects__container {
	flex-direction: column;
	align-items: flex-start;
}

.projects__slider {
	display: flex;
}

.projects__picture {
	width: 700px;
}

.projects__tags {
	display: flex;
}

.tags__item {
	margin-right: 10px;
}

.projects {
	&__title, &__tags, &__about, &__link {
		margin-bottom: 20px;
	}
}