.skills__container {
	justify-content: flex-end;
}

.skills__content {
	width: 700px;
}

.skills__about {
	margin-bottom: 20px;
}

.skills__group {
	margin-bottom: 20px;
}

.skills__charts {
	display: flex;
	justify-content: space-between;
}