section.section.about(id="about")
	.container.about__container
		.about__info
			.personal-info
				.personal-info__avatar
					.avatar
						+image("content/avatar.jpg", "avatar__image")
				.personal-info__data
					table.table__list
						tr
							- var data = ["Проживаю:", "Санкт-Петербург"]
							each item in data
								td.table__item
									p= item
						tr
							- var data = ["Возраст:", "24 года"]
							each item in data
								td.table__item
									p= item
						tr
							- var data = ["Во фронтенде:", "c 2019 года"]
							each item in data
								td.table__item
									p= item
		.about__desc
			p.about__hello Привет, меня зовут
			h2.about__title Виктория Филилеева
			p.about__text Я занимаюсь разработкой сайтов. Люблю, когда всё делается вовремя и с любовью к деталям. А ещё без конца учусь и не верю, что должно быть по-другому :)
			.about__ps 
				.about__ps-image
					+icon("asterisk", "about__icon")
				div.about__ps-desc
					span.about__ps-text Этот сайт я сделала рамках обучения в Школе онлайн образования LoftSchool. <a class="about__ps-link" href="https://loftschool.com/diploma/NPR28133JW284NUJ0/en/pdf" target="_blank">Здесь</a> можно посмотреть мой диплом. Чтобы узнать больше обо мне и моих навыках – листайте ниже!