section.section.about
	.container.about__container
		.about__content
			.about__info
				.about__avatar Pic
				.about__data
					table.about__table
						tr
							- var data = ["Проживаю:", "Санкт-Петербург"]
							each item in data
								td.table__item= item
						tr
							- var data = ["Возраст:", "23 года"]
							each item in data
								td.table__item= item
						tr
							- var data = ["Родилась:", "29 января 1997"]
							each item in data
								td.table__item= item
			.about__desc
				p Привет, меня зовут
				h2 Виктория Филилеева
				p Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
				p Этот сайт я сделала в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!