section.section.final 
	.container.final__container
		.reviews__content
			h3 Что обо мне говорят
			.reviews__slider--buttons ( < ) ( > )
			include ../blocks/reviews__slider.pug
		.contact__content
			h3 Связаться со мной
			.form__container
				include ../blocks/form.pug
