footer.footer
	.footer__container
		.footer__copyright
			p (c) 2020
		.footer__author
			p Виктория Филилеева
			p Личный сайт веб-разработчика
		.footer__menu
			.footer__menu-row
				include ../blocks/nav.pug
			.footer__menu-row
				.footer__menu-about
					p Этот сайт я сделал в рамках обучения в Школе онлайн образования Loftschool
					include ../blocks/socials.pug
				.footer__menu-quote
					p Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает где вы живете
					p Martin Golding