section.section.hero.fullscreen-section(id="home")
	.container.hero__container
		include ../blocks/header 
		.hero__content
			.admin-info
				.admin-info__desc
					p Личный сайт веб-разработчика
				.admin-info__name
					h1.section__title.hero__title Виктория Филилеева
		.hero__btns
			.scroll-down
				a.scroll-down__link(href="#")
					p.scroll-down__text Скролл
					.scroll-down__btn
						+icon("scroll", "scroll-down__icon")