section.section.projects(id="projects")
	.container.projects__container
		h3.section__title.projects__title Мои работы
		.projects__content
			.projects__visuals
				.slider
					.slider__picture
						.slider__preview
							+image("content/preview-1.jpg", "slider__image")
					.slider__btns
						.slider-btn
							button.slider-btn__item
								+icon("short-arrow","slider-btn__icon--left")
							button.slider-btn__item.slider-btn__item--inactive
								+icon("short-arrow","slider-btn__icon--right")
			.projects__data
				.projects__desc
					.projects__tags
						- var tags = ["HTML", "CSS", "Javascript"]
						each item in tags
							.tags__item
								a.tags__link(href="#" target="_blank")= item
					.projects__text
						h4.projects__title Сайт школы образования
						.projects__about 
							p.projects__info Эта девчонка проходила обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
						.projects__link
							a.iconed-link(href="http://onexsan.tmweb.ru/" target="_blank")
								.iconed-link__image
									+icon("link", "iconed-link__icon")
								p.iconed-link__text Посмотреть сайт