section.section.reviews(id="reviews")
  .container.reviews__container
    .reviews__intro
      h3.section__title.reviews__title Что обо мне говорят
      .reviews__control-panel
        ul.reviews-controls
          li.reviews-controls__item(@click="prev")
            button.control-btn
              +icon("short-arrow","control-btn__icon control-btn__icon--left")
          li.reviews-controls__item(@click="next")
            button.control-btn
              +icon("short-arrow","control-btn__icon control-btn__icon--right")
    .reviews__slider
      reviews-carousel