section.section.skills 
	.container.skills__container
		.skills__about
			h3.section__title.skills__title Чем я могу быть полезна вам
			p.section__subtitle.skills__subtitle Этот сайт я сделала в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
		.skills__data
			ul.user-skills
				- var skills = [['Frontend', ['HTML5', 'CSS3', 'Javascript', 'jQuery & vue.js']], ['Workflow', ['Git', 'Terminal', 'Gulp', 'Webpack']]]
				each item in skills 
					li.user-skills__item.skills-row 
						h4.skills-row__title #{item[0]}
						ul.skills-row__list
							each skill in item[1]
								li.skills-row__item
									.skill
										svg(viewBox="0 0 200 200" preserveAspectRatio="none").skill__shape
											circle(r="80" cx="100" cy="100").skill__circle.skill__circle--position--under
											circle(r="80" cx="100" cy="100").skill__circle.skill__circle--position--above
											//- linear-gradient()
										.skill__title #{skill}