section.section.skills(id="skills")
	.container.skills__container
		.skills__about
			h3.section__title.skills__title Чем я могу быть полезна вам
			ul.skills__desc
				li.section__subtitle.skills__desc-item Умею и очень люблю <strong>верстать</strong>: на гридах и флексах, адаптивно и резиново, с SVG и под ретину. Работаю по <strong>БЭМ</strong> или модульному принципу. 
				li.section__subtitle.skills__desc-item Знаю основы <strong>Vue.js и React</strong> и хочу продолжать их осваивать. Станьте моим ментором, и удивитесь тому, как я люблю учиться!
				li.section__subtitle.skills__desc-item Также хочу прокачаться в ванильном <strong>Javascript</strong>. Знакома с основными принципами ООП и MV*-паттернами.
				li.section__subtitle.skills__desc-item Уважаю тех, кто заботится о <strong>доступности</strong> сайтов, и стараюсь следить за этим сама.

		.skills__data
			#skills-component
			
		.skills__bg