section.section.skills(id="skills")
	.container.skills__container
		.skills__about
			h3.section__title.skills__title Чем я могу быть полезна вам
			p.section__subtitle.skills__subtitle Этот сайт я сделала в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
		.skills__data
			#skills-component
			
		.skills__bg