section.section.skills(id="skills")
	.container.skills__container
		.skills__about
			h3.section__title.skills__title Чем я могу быть полезна вам
			p.section__subtitle.skills__subtitle Этот сайт я сделала в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
		.skills__data
			ul.user-skills
				- var skills = [['Frontend', ['HTML5', 'CSS3', 'Javascript', 'vue.js']], ['Workflow', ['Git', 'Terminal', 'Gulp', 'Webpack']]]
				each item in skills 
					li.user-skills__item.skills-row 
						h4.skills-row__title #{item[0]}
						ul.skills-row__list
							each skill in item[1]
								li.skills-row__item
									.skill
										svg.donut(width='100%' height='100%' viewbox='0 0 42 42')
											circle.donut-ring(cx='21' cy='21' r='15.91549430918954' fill='transparent' stroke='rgba(255,255,255,.1)' stroke-width='1')
											circle.donut-segment(cx='21' cy='21' r='15.91549430918954' fill='transparent' stroke='url(#gradient)' stroke-width='3' stroke-dasharray='35 65' stroke-dashoffset='25' style=`animation-delay: -5s`)
											g.chart-text
												text.chart-desc(x='50%' y='50%') #{skill}
			svg(style="width:0; height:0; position: absolute;" aria-hidden="true")
				linearGradient(id="gradient" x1="0%" y1="0%" x2="100%" y2="0")
					stop(offset="0%" stop-color='#d0731b')
					stop(offset="100%" stop-color='#dc9322') 