section.section.softskills(id="softskills")
	.container.softskills__container
		h3.section__title.softskills__title Софтскиллы
		.softskills__intro
			p.softskills__desc Веб-разработка – это круто, но это далеко не всё, что я умею.
			ul.softskills__list
				li.softskills__item Помимо JS владею <strong>английским и немецким языками</strong> на уровне Advanced. Ещё и могу их преподавать и заниматься переводами!
				li.softskills__item Умею планировать своё <strong>время</strong> – за 2 года работы на удалёнке и во фрилансе не сорвала ни одного дедлайна.
				li.softskills__item Более 10 лет рисую и немного увлекаюсь <strong>дизайном</strong>, так что с макетами работаю очень внимательно.
				li.softskills__item Умею и люблю <strong>общаться</strong> с людьми – в этом мне помогли стажировка на курсах веб-разработки LoftSchool, работа в Customer Support и волонтёрство в гражданских инициативах.
				li.softskills__item А ещё у меня есть высшее образование и красный диплом (Лингвистика, СПбГУ) – как минимум показатель моей стрессоустойчивости и <strong>упорства</strong>.