section.section.welcome 
	.container.welcome__container
		.welcome__content
			.welcome__site-desc
				p Личный сайт веб-разработчика
			.welcome__author
				h1 Виктория Филилеева
	.scroll-button
		p I scroll