.between-section {
	width: 100%;
	display: flex;
	position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.between-item {
	width: 100%;
	display: block;
	height: 100%
}

.between-image {
	width: 100%;
	height: 100%;
}