.hero {
	height: 100vh;
	min-height: 500px;
	background-color: orange;
}

.hero__container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}


.hero__content {
	display: flex;
	justify-content: center;
} 
.hero__buttons {
	display: flex;
	justify-content: center;
} 

.admin-info {
	display: flex;

}