.projects__container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.projects__content {
	display: flex;
}

.projects__visuals {
	width: 50%;
}

.projects__tags {
	display: flex;
}

.tags__item {
	margin-right: 10px;
}

.projects {
	&__title, &__tags, &__about, &__link {
		margin-bottom: 20px;
	}
}