.reviews__container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
}

.reviews__slider {
	width: 80%; 
	display: flex;
}

.reviews__author {
	display: flex;
	justify-content: space-between;
}

.reviews__text {
	margin-bottom: 20px;
}

.reviews__item {
	margin-right: 20px;
}