header.header
	.container.header__container
		.header__avatar
				img.admin-avatar(src="../../images/avatar.jpg", alt="my-avatar")
		.header__admin
			.header__about
				.header__name
					p Виктория Филилеева
				.header__info
					p Панель администрирования
			.header__logout
				.header__btns
					button(type="button" @click="logoutThisUser").header-btn 
						p Выйти
