ul.skill__list
	li.skill-item
		.skill-item__name
			input.skill-item__input.skill-item__input--text(value="Git")
		.skill-item__percent
			.skill-item__percent-number
				input.skill-item__input.skill-item__input--number(value="100")
			.skill-item__percent-sign
				p %
		.skill-item__controls
			button.edit-btn
				.edit-btn__icon
			button.delete-btn
				.delete-btn__icon
	li.skill-item
		.skill-item__name
			input.skill-item__input.skill-item__input--text(value="Terminal")
		.skill-item__percent
			.skill-item__percent-number
				input.skill-item__input.skill-item__input--number(value="90")
			.skill-item__percent-sign
				p %
		.skill-item__controls
			button.edit-btn
				.edit-btn__icon
			button.delete-btn
				.delete-btn__icon
	li.skill-item
		.skill-item__name
			input.skill-item__input.skill-item__input--text(value="Gulp")
		.skill-item__percent
			.skill-item__percent-number
				input.skill-item__input.skill-item__input--number(value="80")
			.skill-item__percent-sign
				p %
		.skill-item__controls
			button.edit-btn
				.edit-btn__icon
			button.delete-btn
				.delete-btn__icon
	li.skill-item
		.skill-item__name
			input.skill-item__input.skill-item__input--text(value="Webpack")
		.skill-item__percent
			.skill-item__percent-number
				input.skill-item__input.skill-item__input--number(value="85")
			.skill-item__percent-sign
				p %
		.skill-item__controls
			button.edit-btn
				.edit-btn__icon
			button.delete-btn
				.delete-btn__icon