section.section.projects
	.container.projects__container
		.projects__intro
			h2.title.projects__title Блок «Работы»
		.projects__content
			.edit-field
				.edit-field__intro
					h3.project-form__title Редактирование работы
				.edit-field__form
					form.project-form
						.project-form__container
							.project-form__column
								.project-form__add-image
									.add-image__desc
										p Перетащите или щелкните для загрузки изображения
										button.form-btn Загрузить
							.project-form__column
								.project-form-row
									label.form__label(for="project-title") Название
									input.form__input(type="text" name="title" id="project-title" value="Дизайн сайта для авто салона Porsche")
								.project-form-row
									label.form__label(for="project-link") Ссылка
									input.form__input(type="text" name="link" id="project-link" value="https://www.porsche-pulkovo.ru")
								.project-form-row
									label.form__label.form__label--textarea(for="project-desc") Описание
									textarea.form__input.form__input--textarea(name="desc" id="project-desc") Порше Центр Пулково является официальным дилером марки Порше в Санкт-Петербурге и предоставляет полный цикл услуг по продаже и сервисному обслуживанию автомобилей
								.project-form-row
									label.form__label(for="project-tags") Добавление тега
									input.form__input(type="text" name="tags" id="project-tags" value="jQuery, Vue.js, HTML5")
									.project-form__tags
										.project-tags__item
											p jQuery
											button.project-tags__icon
										.project-tags__item
											p Vue.js
											button.project-tags__icon
										.project-tags__item
											p HTML5
											button.project-tags__icon
								.project-form-row.project-form-row--btns
									button.cancel-btn Отмена
									button.form-btn Сохранить

			.projects__blocks
				ul.projects__list
					li.block-item.block-item--add.projects__item
						.block-item__container
							button.add-block__btn
								.add-block__icon
								p Добавить работу
					li.block-item.projects__item
						.item__visuals
							.item__thumb
								img(src="../../images/preview-1.jpg", alt="")
							.item__tags
								.tags__item
									p HTML
								.tags__item
									p CSS
								.tags__item
									p Javascript
						.projects__item-content
							.item__info
								h4.item__name Сайт школы образования
								.item__desc 
									p Эта девчонка проходила обучение веб-разработке не где-то, а в LoftSchool! 4,5 месяца только самых тяжелых испытаний и бессонных ночей!
								.item__link
									a.project-link
										p http://loftschool.ru
							.item__controls
								button.edit-btn
									p Править
									.edit-btn__icon
								button.discard-btn
									p Удалить
									.discard-btn__icon
					li.block-item.projects__item
						.item__visuals
							.item__thumb
								img(src="../../images/preview-2.jpg", alt="")
							.item__tags
								.tags__item
									p HTML
								.tags__item
									p CSS
								.tags__item
									p Javascript
						.projects__item-content
							.item__info
								h4.item__name Сайт школы образования
								.item__desc 
									p Эта девчонка проходила обучение веб-разработке не где-то, а в LoftSchool! 4,5 месяца только самых тяжелых испытаний и бессонных ночей!
								.item__link
									a.project-link
										p http://loftschool.ru
							.item__controls
								button.edit-btn
									p Править
									.edit-btn__icon
								button.discard-btn
									p Удалить
									.discard-btn__icon
					li.block-item.projects__item
						.item__visuals
							.item__thumb
								img(src="../../images/preview-3.jpg", alt="")
							.item__tags
								.tags__item
									p HTML
								.tags__item
									p CSS
								.tags__item
									p Javascript
						.projects__item-content
							.item__info
								h4.item__name Сайт школы образования
								.item__desc 
									p Эта девчонка проходила обучение веб-разработке не где-то, а в LoftSchool! 4,5 месяца только самых тяжелых испытаний и бессонных ночей!
								.item__link
									a.project-link
										p http://loftschool.ru
							.item__controls
								button.edit-btn
									p Править
									.edit-btn__icon
								button.discard-btn
									p Удалить
									.discard-btn__icon
					li.block-item.projects__item
						.item__visuals
							.item__thumb
								img(src="../../images/preview-4.jpg", alt="")
							.item__tags
								.tags__item
									p HTML
								.tags__item
									p CSS
								.tags__item
									p Javascript
						.projects__item-content
							.item__info
								h4.item__name Сайт школы образования
								.item__desc 
									p Эта девчонка проходила обучение веб-разработке не где-то, а в LoftSchool! 4,5 месяца только самых тяжелых испытаний и бессонных ночей!
								.item__link
									a.project-link
										p http://loftschool.ru
							.item__controls
								button.edit-btn
									p Править
									.edit-btn__icon
								button.discard-btn
									p Удалить
									.discard-btn__icon
			