include ./mixins.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | Главная
  body
    .wrapper
      .welcome-section
        .parallax
          .parallax__layer
            +image("backgrounds/bg-train.jpg", "parallax__image")
          //- .parallax__layer.parallax__layer--sky(data-speed="0.1")
          //-   +image("backgrounds/parallax-1.png", "parallax__image")
          //- .parallax__layer.parallax__layer--hills(data-speed="0.3")
          //-   +image("backgrounds/parallax-2.png", "parallax__image")
          //- .parallax__layer.parallax__layer--train(data-speed="0.5")
          //-   +image("backgrounds/parallax-3.png", "parallax__image")
          //- .parallax__layer.parallax__layer--field(data-speed="0.7")
          //-   +image("backgrounds/parallax-4.png", "parallax__image")
          //- .parallax__layer.parallax__layer--t-gradient(data-speed="0.8")
          //-   .parallax__darker-layer
          //- .parallax__layer.parallax__layer--b-gradient(data-speed="0.9")
          //-   +image("backgrounds/parallax-5.png", "parallax__image")
        include ./pug/sections/hero
        include ./pug/sections/about
      .between-section
        .between-item
          +image("backgrounds/bg-dark.png", "between-image")
      include ./pug/sections/skills
      include ./pug/sections/projects
      .final-section
        .final-section__wrapper
          +image("backgrounds/bg-road.png", "final-section__image")
        include ./pug/sections/reviews
        include ./pug/sections/contact
      include ./pug/sections/footer