include ./mixins.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | Главная
  body
    .wrapper
      .maincontent
        include ./pug/sections/header
        include ./pug/sections/welcome
        include ./pug/sections/about 
        include ./pug/sections/skills
        include ./pug/sections/projects 
        include ./pug/sections/reviews 
        include ./pug/sections/contact
        include ./pug/sections/footer