include ./mixins.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | Главная
  body
    .wrapper
      .welcome-section
        .parallax
          +image("backgrounds/bg-train.jpg", "parallax__image")
        include ./pug/sections/hero
        include ./pug/sections/about
      .between-section
        .between-item
          +image("backgrounds/bg-dark.png", "between-image")
      include ./pug/sections/skills
      include ./pug/sections/projects
      .final-section
        .parallax
          +image("backgrounds/bg-road.png", "parallax__image")
        include ./pug/sections/reviews
        include ./pug/sections/contact
      include ./pug/sections/footer