.tabs
	.container.tabs__container
		.tabs__item.tabs__item--about.tabs__item--active
			button.tabs__btn Обо мне
		.tabs__item.tabs__item--projects
			button.tabs__btn Работы
		.tabs__item.tabs__item--reviews
			button.tabs__btn Отзывы