.tabs
	.container.tabs__container
		router-link.tabs__item.tabs__item--about(to="/")
			.tabs__btn Обо мне
		router-link.tabs__item.tabs__item--projects(to="/works")
			.tabs__btn Работы
		router-link.tabs__item.tabs__item--reviews(to="/reviews")
			.tabs__btn Отзывы